{% extends 'base.html' %}
{% block title %}Create a deal{% endblock title %}

{% block content %}
<form method="POST" style="width: 600px; margin: auto; color: white; margin-top: 100px; margin-bottom: 50px;" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 style="color: white;">Create a Deal</h2>
    {% for field in create_deal_form %}
        <div class="mb-3">
            {% if field.name == "pair" %}
                <label for="create-deal-pair" class="form-label">Pair</label>
                {{field}}
            {% elif field.name == "deal_type" %}
                <label class="form-label">Deal type</label>
                {% for radio in field %}
                    <div class="form-check">
                        {{radio.tag}}
                        <label for="{{ radio.id_for_label }}" class="form-check-label">{{ radio.choice_label }}</label>
                    </div>
                    
                {% endfor %}

            {% elif field.name == "from_price" %}
                <label for="create-deal-from-price" class="form-label">From price</label>
                {{field}}
            {% elif field.name == "to_price" %}
                <label for="create-deal-to-price" class="form-label" >To price</label>
                {{field}}

            {% elif field.name == "is_followed_rules" %}
                <label class="form-label">Followed the rules</label>
                {% for radio in field %}
                    <div class="form-check">
                        {{radio.tag}}
                        <label for="{{ radio.id_for_label }}" class="form-check-label">{{ radio.choice_label }}</label>
                    </div>
                    
                {% endfor %}
            {% elif field.name == "description" %}
                <label for="create-deal-description" class="form-label" >Description</label>
                {{field}}

            {% elif field.name == "img" %}
                <label for="create-deal-img" class="form-label" >Image of the chart</label>
                {{field}}

            {% elif field.name == "result" %}
                <label class="form-label">Result</label>
                {% for radio in field %}
                    <div class="form-check">
                        {{radio.tag}}
                        <label for="{{ radio.id_for_label }}" class="form-check-label">{{ radio.choice_label }}</label>
                    </div>
                {% endfor %}
            {% elif field.name == "amount" %}
                <label for="create-deal-amount" class="form-label" >Amount of the profit/loss:</label>
                {{field}}
            {% endif %}

            {% if field.errors %}
                {% for err in field.errors %}
                    <p style="color: red;">{{err}}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <button class="btn btn-primary w-100">Create</button>

    {% if create_deal_form.non_field_errors %}
        {% for err in create_deal_form.non_field_errors %}
            <p style="color: red;">{{err}}</p>
        {% endfor  %}
    {% endif %}
</form>
{% endblock content %}