{% extends 'base.html' %}
{% block title %}Edit the strategy{% endblock title %}

{% block content %}
<form method="POST" style="width: 500px; margin: auto; color: white; margin-top: 100px;">
    {% csrf_token %}
    {% for field in edit_strategy_form %}
        <div class="mb-3">
            {% if field.name == "title" %}
                <label for="create-strategy-title" class="form-label">Title</label>
                {{field}}
            {% elif field.name == "rules" %}
                <label for="create-strategy-rules" class="form-label">Rules</label>
                {{field}}
            {% elif field.name == "balance" %}
                <label for="create-strategy-balance" class="form-label">Balance</label>
                {{field}}
            {% elif field.name == "test_days" %}
                <label for="create-strategy-test-days" class="form-label" >Test days</label>
                {{field}}
            {% endif %}

            {% if field.errors %}
                {% for err in field.errors %}
                    <p style="color: red;">{{err}}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <button class="btn btn-primary w-100 mb-2">Edit</button>
    <a href="{% url 'strategies:show_strategies_url' %}" class="mt-2">Back to strategies</a>
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{msg.tags}} mt-2">{{msg}}</div>
        {% endfor %}
    {% endif %}
</form>
{% endblock content %}